body {
    background-color: rgba(151, 148, 148, 0.863);
    color: #292828;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;

}

.lead {
    color: #1b1b1b98;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

#col{
    color: #000000
    font-family: Arial, Helvetica, sans-serif;
   


}

#down {
    color: #1b1b1b98;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: auto;

} 

#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}