#ui {
    border-radius: 5px;
    color: rgb(41, 40, 40);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(97, 91, 92, 0.92);
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    margin: 10px;

    box-shadow: 2px 2px 2px 2px rgb(97, 91, 92);
    animation-delay: 2s;
    animation-duration: 2s;
    align-items: center;

}

#navbar {
    height: 60px;
}

#register {
    opacity: 40%;
    background-size: cover;
    background-attachment: fixed;

}

#contact_showcase {
    margin-top: 20px;
    background-blend-mode: soft-light;

}

#registerbody {
    height: 100%;
}

#login {

    padding: 30px;
    margin-top: 30px;
    background-color: rgb(97, 91, 92);
    opacity: 80%;
    background-size: cover;
    background-attachment: fixed;


}